.root {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 1;
    box-shadow: 5px 69px 84px 30px rgba(13, 19, 24, 0.2);
}

.cell {
    background-color: white;
    cursor: pointer;
}

.cell:hover {
    background-color: #edecec;
}
