.root {
    width: 100%;
    z-index: 1;
    top: 5px;
    box-shadow: 5px 69px 84px 30px rgba(13, 19, 24, 0.2);
}

.body {
    background-color: white;
}

.cell {
    cursor: pointer;
}

.cell:hover {
    background-color: #edecec;
}
